<div id="profile_show">
	<div class="col-md-9 ">
		<div class="row">
			<div id="user_image">
				<%= image_tag "avatar.jpg" %>
			</div>
		</div>
		<div class="row user_info">
			<h3><%= @user.name %> <%= @user.last_name %></h3>
			<p class="last_active">Last active <%= time_ago_in_words(@user.last_sign_in_at) %>
				<% if user_signed_in? %>
					<% if current_user.id == params[:id].to_i %> 
						 | <%= link_to "Edit Profile", edit_user_registration_path %> 
					<% end %>
				<% end %>
			</p>
			<%= mail_to @user.email do %>
				<button class="btn btn-default">Send me an email</button>
			<% end %>
		</div>
		<div class="row user_details">
			<h3>About Me</h3>
			<div class="description">
				<p><%= @user.description %></p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="row">
			<h3><%= @user.name %>'s Projects</h3>
		</div>
		<div id="post_show">
			<%= render 'layouts/post' %>
		</div>
	</div>
</div>
