<div id="profile_show">
	<div class="col-md-9 user_info">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-md-3 col-sm-3 col-xs-4">
					<div style="background-color:#50A7C7;height:120px;width:120px;border: 1px solid #9B9B9B;border-radius:4px;padding:10px;"></div>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-8">
					<h3><%= @user.name %> <%= @user.last_name %></h3>
					<p class="last_active">Last active <%= time_ago_in_words(@user.last_sign_in_at) %></p>
					<p><%= mail_to "#{@user.email}", @user.email %></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div id="post_show">
			<%= render 'layouts/post' %>
		</div>
	</div>
</div>
