<div class="jumbotron">
	<div class="container">
		<div class="content col-md-offset-1 col-md-10">
			<h1>Launch your Startup</h1>
			<p>Finding a great team is tough, but we belive it doesn't have to be. Join the Makr community to get started.</p>
		</div>
		<div class="search col-md-12">
			<%= form_tag search_posts_path, method: 'get', role: "search" do %>
				<div class="form-group form col-md-offset-2 col-md-7 col-xs-10">
		    		<%= text_field_tag :search, params[:search], class: "form-control" %>
		    	</div>
		    	<div class="col-md-1 col-xs-1 btn-search">
		    	<%= button_tag(class: "btn btn-default button") do %>
		    		<i class="fa fa-search"></i>
		    	<% end %>
		    	</div>
			<% end %>
		</div>
	</div>
	<div class="top"></div>
</div>
<div class="container" id="about">
	<div class="container icons">
		<div class="row">
			<div class="col-md-1 col-xs-3 icon">
				<i class="fa fa-share-alt"></i>
			</div>
			<div class="col-md-1 col-xs-3 icon">
				<i class="fa fa-group"></i>
			</div>
			<div class="col-md-1 col-xs-3 icon">
				<i class="fa fa-html5"></i>
			</div>
			<div class="col-md-1 col-xs-3 icon">
				<i class="fa fa-rocket"></i>
			</div>
		</div>
		<div class="row">
			<div class="info col-md-8">
				<h1>Share. Network. Build. Launch.</h1>
				<p>Finding talented team members is tough, but at Makr we belive it doesn't have to be. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique condimentum pellentesque. Aliquam consequat condimentum maximus. Donec interdum tortor vitae justo tristique, sed eleifend tellus volutpat. Nullam vestibulum aliquam urna. Donec ornare iaculis enim. Sed rutrum ante ut purus varius facilisis. Vestibulum suscipit ante vitae mauris laoreet egestas.</p>
			</div>
		</div>
	</div>
</div>
<div class="container" id="posts">
	<p id="intro">Popular Projects<br/><span>Popular projects within the Makr Community</span></p>
	<div class="row">
		<% @posts.each do |post| %>
		<div class="col-md-4 post">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="post_image">
					<%= link_to (image_tag post.image.url(:medium)), post %>
					</div>
					<div class="post_content">
						<div class="title">
							<h2><%= link_to post.title, post %></h2>
						</div>
						<div class="data">
							<p class="username">Posted by <%= post.user.name %></p>
							<p class="buttons">
								<span>
									<i class="fa fa-comments-o"></i>
									<%= post.comments.count %>
								</span>
								<span>
									<i class="fa fa-thumbs-o-up"></i>
									<%= post.get_likes.size %>
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<div class="row">
		<%= render "layouts/pagination" %>
	</div>
</div>