<div id="post_show">
  <div class="row">
    <div class="col-md-6">
      <h1><%= @post.title %></h1>
      <p class="username"><%= link_to "#{@post.user.name}", profile_path(@post.user.id) %> shared an <%= @post.kind.humanize %> about <%= time_ago_in_words(@post.created_at) %></p>
    </div>
    <div class="col-md-offset-3 col-md-3 hidden-xs hidden-sm">
      <h3>Related Projects</h3>
    </div>
  </div>
  <div class="row">
    <!-- Post -->
    <div class="col-md-6">
      <%= image_tag @post.image.url(:medium) %>
      <div class="description">
        <%= simple_format(@post.description) %>
      </div>
    </div>
    <div class="col-md-3 post_data">
      <!-- Middle Section -->
        <%= link_to "Visit  Webpage", @post.link, class: "button" %>
        <%= link_to like_post_path(@post), method: :get, class: "data" do %>
          <i class="fa fa-thumbs-o-up"></i>
          <%= pluralize(@post.get_upvotes.size, "Like") %>
        <% end %>
        <%= link_to dislike_post_path(@post), method: :get, class: "data" do %>
          <i class="fa fa-thumbs-o-down" %></i>
          <%= pluralize(@post.get_downvotes.size, "Dislike") %>
        <% end %>
        <p class="data"><i class="fa fa-comments-o"></i> <%= pluralize(@post.comments.count, "Comment")%></p>
        <% if @post.user == current_user %>
          <%= link_to edit_post_path(@post), class: "data" do %>
            <i class="fa fa-pencil-square-o" %></i>
            Edit
          <% end %>
          <%= link_to post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "data" do %>
            <i class="fa fa-trash-o" %></i>
            Delete
          <% end %>
        <% end %>
    </div>
    <%= render 'layouts/random_post' %>
  </div>
</div>

<div id="comments">
  <div class="row">
    <div class="col-md-6">
    <h2 class="comment_count"> <%= pluralize(@post.comments.count, "Comment") %></h2>
    <% @comments.each do |comment| %>
      <div class="comment">
        <p class="username"><%= link_to "#{comment.user.name}", profile_path(id: @post.user.id) %></p>
        <p class="content"><%= comment.content %></p>
      </div>
    <% end %>
    </div>
  </div>
  <%= render "comments/form"%>
</div>